@charset "ISO-8859-1";


body  
{  
     margin: 20px;  
    padding: 20px;  
    background-color:#6abadeba;  
    font-family: 'Arial';  
}  
.rent{  
       width: 1500px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 50px;  
        background: #23463f;  
        border-radius: 15px ;  
          
} 
h2{  
    text-align: center;  
    color: #277582;  
    padding: 1px; 
    font-size: 30px; 
} 
label{  
    color: #08ffd1;  
    font-size: 17px;  
} 
#name,#email,#propertytype,#maintaincharges,#normalwater,#electricity,#area,#state,#pincode,#phno,#structure,#membersacceptable,#drinkingwater,#parking,#rentamount,#doorno,#city,#country{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}
#description{  
    width: 500px;  
    height: 100px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
} 
 
#log{  
    width: 200px;  
    height: 30px;  
    border: none;  
    border-radius: 15px;  
    padding-left: 7px;  
    color: blue;
    font-size: 20px;    
}  
 